@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0 auto;
  background: rgba(254, 254, 254, 0.8);
  padding-bottom: 4rem;
  color: #333;
  overflow-x: hidden;
}

h1 {
  padding: 6rem 0 0 2.4rem;
}

a,
a:visited {
  color: #333;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

nav {
  padding: 0.8rem 2.4rem;
  background: rgba(255, 255, 255, 0.97);
  position: fixed;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 0 2px 4px -3px rgba(51, 51, 51, 0.2);
          box-shadow: 0 2px 4px -3px rgba(51, 51, 51, 0.2);
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1050px;
  margin: 0 auto;
}

nav .nav-container #logo {
  height: 32px;
  width: 66%;
}

nav .nav-container #logo img {
  height: 100%;
}

nav .nav-container #icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  width: 34%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .nav-container #icons li {
  margin-left: calc(35% + 8px);
}

nav .nav-container #icons li a {
  position: relative;
}

nav .nav-container #icons #nav-not {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #ff2929;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: translate(-4px, -1px);
          transform: translate(-4px, -1px);
}

nav .nav-container #icons i {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

nav .nav-container #icons i:hover {
  color: rgba(34, 34, 34, 0.65);
}

.home-container {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 2.4rem;
}

@media screen and (max-width: 600px) {
  .home-container {
    padding-left: 0.2rem;
  }
}

.home-container h1 {
  padding-left: 0;
}

.home-container #search {
  margin: 1rem 1rem 2rem 0;
  height: 2.4rem;
  padding: 0 0.5rem;
  border-radius: 5px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border: 2px solid rgba(51, 51, 51, 0.835);
}

.home-container #search:focus {
  outline: none;
  border: 2px solid #2eb7eb;
}

.home-container .card-cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-container .card-cart-container .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-container .card-cart-container .card-container .card {
  margin: 0.4rem 1rem 0.4rem 0;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0px 6px rgba(51, 51, 51, 0.15);
          box-shadow: 0 0px 6px rgba(51, 51, 51, 0.15);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  width: 202px;
}

@media screen and (max-width: 600px) {
  .home-container .card-cart-container .card-container .card {
    margin-right: 0.2rem;
  }
}

.home-container .card-cart-container .card-container .card:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.home-container .card-cart-container .card-container .card:hover img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.home-container .card-cart-container .card-container .card:hover .card-text {
  opacity: 1;
  bottom: 2.3rem;
}

.home-container .card-cart-container .card-container .card .img-container {
  overflow: hidden;
}

.home-container .card-cart-container .card-container .card .img-container img {
  height: 210px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.home-container .card-cart-container .card-container .card .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3rem 0.8rem;
  position: absolute;
  bottom: 1rem;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 100%;
  height: 75px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, white), to(transparent));
  background: linear-gradient(0deg, white 40%, transparent 100%);
}

.home-container .card-cart-container .card-container .card .card-text h3 {
  font-size: 1.2rem;
  padding-right: 4px;
}

.home-container .card-cart-container .card-container .card .card-text span {
  background: #2eb7eb;
  font-weight: bold;
  padding: 4px 6px;
  color: white;
  border-radius: 4px;
}

.home-container .card-cart-container .card-container .card .card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40px;
}

.home-container .card-cart-container .card-container .card .card-icons i {
  padding: 3px 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.home-container .card-cart-container .card-container .card .card-icons i:hover {
  -webkit-animation: scaler 0.8s infinite linear;
          animation: scaler 0.8s infinite linear;
}

.home-container .card-cart-container .card-container .card .card-icons .fa-heart:hover {
  color: rgba(251, 38, 38, 0.5);
}

.home-container .card-cart-container .card-container .card .card-icons .fa-shopping-cart {
  font-size: 16px;
  color: #2eb7eb;
}

.home-container .card-cart-container .card-container .card .card-icons .fa-shopping-cart:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.home-container .card-cart-container .card-container .card .card-icons .like-container input {
  display: none;
}

.home-container .card-cart-container .card-container .card .card-icons .like-container input:checked + label i {
  color: #fb2626;
  -webkit-animation: heart 1.3s forwards ease;
          animation: heart 1.3s forwards ease;
}

@-webkit-keyframes heart {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-filter: hue-rotate(-270deg);
            filter: hue-rotate(-270deg);
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heart {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-filter: hue-rotate(-270deg);
            filter: hue-rotate(-270deg);
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.home-container .card-cart-container .card-container .no-result {
  margin: 0 4rem 0 0.4rem;
}

.home-container .shopping-cart {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background: #2eb7eb;
  color: white;
  padding: 1.4rem;
  border-radius: 4px;
  min-width: 290px;
  -webkit-box-shadow: 0 1px 6px rgba(51, 51, 51, 0.25);
          box-shadow: 0 1px 6px rgba(51, 51, 51, 0.25);
  height: 100%;
  margin: -8rem 2.4rem 0 0;
}

.home-container .shopping-cart h2 {
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.home-container .shopping-cart .item-group {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 6px;
}

.home-container .shopping-cart .item-group::-webkit-scrollbar {
  display: none;
}

.home-container .shopping-cart .item-group .item {
  margin-bottom: 2.4rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
  -ms-grid-rows: 60% 40%;
      grid-template-rows: 60% 40%;
      grid-template-areas: 'a b' 'a c';
}

.home-container .shopping-cart .item-group .item:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: rgba(85, 85, 85, 0.2);
  left: 50%;
  bottom: -22px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home-container .shopping-cart .item-group .item .img-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .shopping-cart .item-group .item .img-container img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: img-scale 1s forwards;
          animation: img-scale 1s forwards;
}

@-webkit-keyframes img-scale {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes img-scale {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.home-container .shopping-cart .item-group .item .item-description {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
}

.home-container .shopping-cart .item-group .item .item-description h4 {
  margin: 0 0.9rem 0.9rem 0;
  background: rgba(51, 51, 51, 0.1);
  padding: 3px 5px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(51, 51, 51, 0.15);
          box-shadow: 0 1px 1px rgba(51, 51, 51, 0.15);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: img-scale 1s forwards;
          animation: img-scale 1s forwards;
}

@keyframes img-scale {
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.home-container .shopping-cart .item-group .item .item-description p {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.home-container .shopping-cart .item-group .item .item-quantity {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.home-container .shopping-cart .item-group .item .item-quantity h6 {
  color: #333;
}

.home-container .shopping-cart .item-group .item .item-quantity .cart-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  margin-left: 10px;
}

.home-container .shopping-cart .item-group .item .item-quantity .cart-icons button {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.home-container .shopping-cart .item-group .item .item-quantity .cart-icons button:nth-child(1) {
  -webkit-animation: icon .5s ease forwards;
          animation: icon .5s ease forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes icon {
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes icon {
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.home-container .shopping-cart .item-group .item .item-quantity .cart-icons button:nth-child(2) {
  -webkit-animation: icon .5s ease forwards;
          animation: icon .5s ease forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@keyframes icon {
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.home-container .shopping-cart .item-group .item .item-quantity .cart-icons button:nth-child(3) {
  -webkit-animation: icon .5s ease forwards;
          animation: icon .5s ease forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@keyframes icon {
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.home-container .shopping-cart .item-group .item .item-quantity .cart-icons i {
  font-size: 0.55rem;
  padding: 5px;
  margin: 0 2px;
  background: white;
  border-radius: 50%;
  color: #2eb7eb;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.home-container .shopping-cart .item-group .item .item-quantity .cart-icons i:hover {
  background: #222;
  color: #2eb7eb;
}

.home-container .shopping-cart .grand-total h6 {
  color: #333;
}

.home-container .shopping-cart .grand-total .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.4rem 0 0.4rem;
}

.home-container .shopping-cart .grand-total .total h2 {
  color: white;
  margin-bottom: 0;
}

.home-container .shopping-cart .order-button {
  margin: 1rem auto 0;
  width: 100%;
  text-align: center;
}

.home-container .shopping-cart .order-button button {
  background: white;
  padding: 0.8rem;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(51, 51, 51, 0.2);
          box-shadow: 0 1px 6px rgba(51, 51, 51, 0.2);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  letter-spacing: 1px;
}

.home-container .shopping-cart .order-button button:hover {
  background: black;
  color: #2eb7eb;
  font-weight: bold;
  letter-spacing: 6px;
  -webkit-animation: scaler 1.5s infinite linear;
          animation: scaler 1.5s infinite linear;
}

.home-container .shopping-cart .order-button button:active {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.home-container .cart-anim-enter-active, .home-container .cart-anim-leave-active {
  -webkit-transition: 1.3s cubic-bezier(0.23, 0.66, 0.08, 0.93);
  transition: 1.3s cubic-bezier(0.23, 0.66, 0.08, 0.93);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.home-container .cart-anim-enter, .home-container .cart-anim-leave-to {
  opacity: 0;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
}

.home-container .item-anim-enter-active, .home-container .item-anim-leave-active {
  opacity: 1;
  -webkit-transition: .8s;
  transition: .8s;
}

.home-container .item-anim-enter {
  -webkit-transition: .8s;
  transition: .8s;
}

.home-container .item-anim-leave-to {
  opacity: 0;
  -webkit-transition: .7s;
  transition: .7s;
}

@-webkit-keyframes scaler {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaler {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */